<div class="footer">
  <div class="footer-links">
    <div class="left">
      <a href="https://social-plugins.line.me/lineit/share?url=http://reisui-shodo.com/"><i class="fab fa-line"></i></a>
      <a href="https://plus.google.com/share?url=https%3A//www.reisui-shodo.com/"><i class="fab fa-google-plus-square"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.reisui-shodo.com/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/home?status=https%3A//www.reisui-shodo.com/"><i class="fab fa-twitter"></i></a>
    </div>

  </div>
  <div class="footer-copyright">
    <a href="tel:0312345678"></a>
    COPYRIGHT(C)福岡市早良区の「玲翠習字教室」 All Rights Reserved.
  </div>
</div>
