<div class="footer">
  <div class="footer-links">
    <div class="left">
      <a href="https://social-plugins.line.me/lineit/share?url=http://reisui-shodo.com/"><i class="fab fa-line"></i></a></span>
      <a href="https://plus.google.com/share?url=https%3A//www.reisui-shodo.com/"><i class="fab fa-google-plus-square"></i></a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.reisui-shodo.com/"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/home?status=https%3A//www.reisui-shodo.com/"><i class="fab fa-twitter"></i></a>
    </div>

  </div>
  <div class="footer-copyright">
    <span style="font-size: 20px">玲翠教室&nbsp;&nbsp;&nbsp;<i class="fas fa-phone-square" style="font-size: 25px"></i><a href="tel:092-864-6288" style="color: #554F48; text-decoration: none;" class="phone">092-864-6288</a></span><br>
    〒814-0022  福岡市早良区原8丁目15-14<br>
    COPYRIGHT「玲翠教室」All Rights Reserved.
  </div>
</div>

