<div id="6" class="form" style="background-color: white;padding: 75px 0 30px 0;">
  <div class="container">
    <h3 class="title"><i class="far fa-envelope title"></i>&nbspお問い合わせ</h3>
    <div class="textarea" style="text-align: center">
      <p>体験教室のお申し込みやご質問はお電話かこちらのフォームにてご連絡ください。<br>スピーディな対応を心がけておりますが、少々お時間をいただく場合がございます。<br>あらかじめご了承ください。</p>
    </div>

    <div style="text-align:center">
      <form  action="mailto:sachi1210@me.com" method="post" enctype="text/plain"><br>
        <div class="form-group col-md-offset-3 col-xs-12 col-md-6">
          <label for="name">お名前</label>
          <input type="text" name="お名前" class="form-control" placeholder="山田　花子">
        <div class="form-group col-xs-12">
          <label for="exampleFormControlTextarea1" style="margin-top: 13px;">お問い合わせ内容</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="ご質問などがあればこちらにお願いします。"></textarea>
        </div>
        <div class="form-group col-md-offset-3 col-xs-12 col-md-6">
          <button type="submit" value="Send" class="btn btn-primary">送信</button>
        </div>
      </form><br>
    </div>
  </div>
</div>
