<div id="1" class="greeting">
  <div class="container">
    <h3 class="title"><i class="fas fa-pen-alt title"></i>&nbspご挨拶</h3>
    <div class="textarea" style="padding: 0 15px;">
      <br><p>福岡市早良区で習字教室を初めて50年、幼稚園に通う小さなお子さんから80代の方々まで、美しい文字を書く練習をしています。最近は、手書きで文字を書く機会が減ってきていますが、趣味で文字を書く練習をしたい方から、書道家を目指す方まで、個人の能力と目標に合わせた指導をしています。ご興味がある方は、ぜひ無料体験教室をお申し込みください。習字教室で学んだ成果は毎月日本習字の検定試験で実感していただけます。また、毎年日本習字展へ出展や、三年に一度玲翠書道教室の文化祭も実施しています。</p><p style="text-align: right;">北島玲翠</p><br>
    </div>
  </div>
</div>

