<div id="5" class="info" style="background-color: white;">
  <div class="container" style="margin-bottom: 40px 0;text-align: center;">
    <h3 class="title"><i class="fas fa-info"></i>&nbspお知らせ</h3>
    <br><p>玲翠教室のFacebookページにて日本習字のキャンペーンのお知らせや文化祭の情報を掲載しております。<br>次回の玲翠教室文化祭は2019年3月を予定しております。</p>
  </div>


<div class="container" style="background-color: white;">
  <div class="info-all">
    <div class="info-text" style="background-color: #EFEFEF;">
      <br><h4 style="color: red;font-weight: bold;margin-bottom: 20px"><i class="fas fa-gift"></i>&nbspキャンペーン情報&nbsp<i class="fas fa-gift"></i></h4>
      <h5>＜平成30年12月20日(木)まで＞</h5>
      <p style="margin-top: 7px;color: #337AB7;font-weight: bold">対象：年少〜中学3年生までの生徒</p>
      日本習字会員3〜6ヶ月お申し込みで、<br>「筆セット」プレゼント<br>
      7ヶ月以上お申し込みの方に、<br>「習字セット」プレゼント
      <p style="margin-top: 7px;color: #337AB7;font-weight: bold">対象：高校生以上の方</p>
      日本習字会員3〜6ヶ月お申し込みで、<br>「筆セット」又は「デスクペン」プレゼント<br>
      7ヶ月以上お申し込みの方に、<br>「成人用習字セット」又は「万年筆」プレゼント</p><br>
      <p style="color: red;font-weight: bold">※ 現在、こちらのキャンペーンは終了しました。</p>
    </div>

    <div class="info-face">
      <div class="fb-page" data-href="https://www.facebook.com/&#x798f;&#x5ca1;&#x5e02;&#x65e9;&#x826f;&#x533a;&#x306e;&#x66f8;&#x9053;&#x7fd2;&#x5b57;&#x6559;&#x5ba4;&#x5317;&#x5cf6;&#x73b2;&#x7fe0;-384779618259720/" data-tabs="timeline" data-width="400" data-height="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/&#x798f;&#x5ca1;&#x5e02;&#x65e9;&#x826f;&#x533a;&#x306e;&#x66f8;&#x9053;&#x7fd2;&#x5b57;&#x6559;&#x5ba4;&#x5317;&#x5cf6;&#x73b2;&#x7fe0;-384779618259720/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/&#x798f;&#x5ca1;&#x5e02;&#x65e9;&#x826f;&#x533a;&#x306e;&#x66f8;&#x9053;&#x7fd2;&#x5b57;&#x6559;&#x5ba4;&#x5317;&#x5cf6;&#x73b2;&#x7fe0;-384779618259720/">福岡市早良区の書道・習字教室「北島玲翠」</a></blockquote></div>
    </div>
  </div>
  </div>
</div>
