<div class="intro" style="padding: 50px 0;">
  <div class="container kakomi-box4">
    <h3 class="title"><i class="fas fa-home title"></i>&nbsp習字教室紹介</h3>
      <br><h4 style="margin-bottom: 15px 0;"><i class="fas fa-home"></i>&nbsp自宅教室：福岡市早良区原8丁目15-14&nbsp（TEL：092-864-6288）</h4>
        <table border="0" cellpadding="0" cellspacing="0">
          <tbody><tr style="margin-bottom: 5px">
            <th width="160" rowspan="2" scope="row" style="padding:15px">水曜日</th>
            <td width="356">10時30分～12時30分</td>
            <td width="259">成人全般</td>
          </tr>
          <tr>
            <td>17時00分～19時00分</td>
            <td>幼～高校生</td>
          </tr>

          <tr>
            <th rowspan="2" scope="row" style="padding:15px">木曜日</th>
            <td>17時00分～18時50分</td>
            <td>幼〜成人全般</td>
          </tr>
          <tr>
            <td>19時00分～21時00分</td>
            <td>小学〜成人全般</td>
          </tr>

          <tr>
            <th rowspan="3" scope="row" style="padding:15px">土曜日</th>
            <td>10時00分～12時00分</td>
            <td>幼～成人全般</td>
          </tr>
          <tr>
            <td>13時00分～15時00分</td>
            <td>幼～成人全般</td>
          </tr>
          <tr>
            <td>15時10分～17時00分</td>
            <td>幼～成人全般</td>
          </tr>
        </tbody></table>

      <h4 style="margin-bottom: 15px;"><i class="fas fa-warehouse"></i>&nbsp有田教室：福岡市早良区有田4丁目2区集会場</h4>
      <table border="0" cellpadding="0" cellspacing="0">
        <tbody><tr style="margin-bottom: 5px">
          <th width="160" scope="row" style="padding:15px">金曜日</th>
          <td width="356">17時00分～19時00分</td>
          <td width="259">幼～成人全般</td>
        </tr>
      </tbody></table>
  </div>
</div>
