<div id="3" class="price">
  <div class="container">
    <h3 class="title"><i class="fas fa-shopping-bag"></i>&nbsp月謝案内</h3>
    <div style="text-align: center;margin: 15px">お稽古は月に3回とさせていただいております。<br>検定料とは、日本習字の昇級審査とお手本の会費になります。</span></div>
    <table border="0" cellspacing="0" cellpadding="0" class="price">
      <tbody><tr>
        <th colspan="2" scope="row">&nbsp;</th>
        <td>入会金</td>
        <td>月謝（月３回）</td>
        <td>会費（検定料）</td>
        </tr>
      <tr>
        <th colspan="2" scope="row" style="padding:10px">生徒(幼～中３)</th>
        <td>1,000円</td>
        <td>4,000円<br>
          （兄弟1人3,500円）</td>
        <td>半年：3,750円<br>
          一年：6,900円</td>
        </tr>
      <tr>
        <th rowspan="5" scope="row" style="padding:10px">成人</th>
        <th style="padding:10px">漢字部
        </th><td rowspan="5">2,000円</td>
        <td rowspan="4">基本料：4,000円<br>
          師範料：<br>
          三段以上4,500円<br>
          五段以上5,000円</td>
        <td rowspan="5">半年：7,200円<br>
          一年：13,200円</td>
        </tr>
      <tr>
        <th style="padding:10px">かな部</th>
        </tr>
      <tr>
        <th style="padding:10px">臨書部</th>
        </tr>
      <tr>
        <th style="padding:10px">くらしの書</th>
        </tr>
      <tr>
        <th style="padding:10px">ペン部</th>
        <td>4,000円</td>
        </tr>
    </tbody></table>

    <div class="stuff-container title">
      <h4 style="font-size:18px;margin-bottom:10px;"><i class="fas fa-pencil-alt"></i>&nbsp持ちもの</h4>
      <span style="font-weight: bold;font-size: 15px">幼稚園生〜中学生</span><br>
      <span>毛筆：書道具一式、おしぼり、新聞紙（半紙大で15～20枚）、検定半紙（100枚460円[+税]）<br>硬筆：2B鉛筆（B、3Bでも可）、硬筆用下敷、ノート、消しゴム、検定用紙（100枚240円[+税]）</span><br><br>
      <span style="font-weight: bold;font-size: 15px;">高校生以上の方</span><br>
      <span >毛筆：書道具一式、検定半紙（各種100枚460円[＋税]）他<br>ペン：筆記具（鉛筆以外）、硬筆用下敷、用紙</span><br><br>
    </div>
  </div>
</div>
