.map {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.google-map {
  position: relative;
  // width: 100%;    /* 左右に余白が必要なら値を変更してもOK */
  height: 0;
  padding-bottom: 56.25%;    /* padding-topでもOK */
  overflow: hidden;
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;    /* 必要であれば!importantを付けてください */
  height: 100%;    /* 必要であれば!importantを付けてください */
}

.home, .sub-place{
  background-color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}

.info{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.box25{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 30px 0;
  color: #454545;
  text-align: center;
  font-weight: bold;
}
.box25:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box25 p {
  margin: 0;
  padding: 0;
}


