.google-map {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;    /* padding-topでもOK */
  overflow: hidden;
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;    /* 必要であれば!importantを付けてください */
  height: 100%;    /* 必要であれば!importantを付けてください */
}

.home, .sub-place{
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}


@media print, screen and (min-width: 640px) {
  .access{
    background-color: #EFEFEF;
    padding-top: 75px;
  }
  .map {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .home{
    width: 40%;
    margin: 20px;
  }
  .sub-place{
    width: 40%;
    margin: 20px;
  }
}

/* スマートフォン用CSS */
@media screen and (max-width: 640px) {
  .access{
    padding: 20px 0;
  }
    .home{
    width: 100%;
    margin-bottom: 20px;
  }
  .sub-place{
    width: 100%;
    margin-bottom: 20px;
  }
}
