.intro{
  background-color: #EFEFEF;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: #616668;
  background-color: white;
  margin-bottom: 30px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px;
  display: flex;
  align-item: center;
  justify-content: space-around;
}

td,th {
  border: 1px solid #999;
  height: 40px;
  text-align: center;
}

.price td{
  width: 160px;
}

.price th{
  width: 147px;
}

// パソコン用CSS
@media print, screen and (min-width: 640px) {
  .intro {
    padding: 75px 0 30px 0;
  }
  .intro-text{
    margin-bottom: 15px;
    text-align: center;
  }
}

/* スマートフォン用CSS */
@media screen and (max-width: 640px) {
  .intro {
    padding: 20px 0;
  }
  .intro-text{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
  }
}
