<div class="header">
  <div class="box1 key">
  </div>
    <%= partial "layouts/greeting" %>
    <%= partial "layouts/introduction" %>
  <div class="box2 key">
  </div>
    <%= partial "layouts/price" %>
  <div class="box3 key">
  </div>
    <%= partial "layouts/access" %>
</div>

